* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
background-color: rgb(248, 207, 214);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px auto;
    padding: 30px;
    width: 30vw;
    height: 30vh;
    background-color: #fff;
    border: 1px solid  rgb(187, 184, 184);
}

.head {
    text-align: center;
}

.head h2 {
    color: rgb(77, 76, 76);
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-toggle {
    margin: 30px;
    padding-left: 20px;
    width: 500px;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 6px;
    text-align: left;
    color: rgb(148, 146, 146);
    cursor: pointer;
    outline: none;
}

.dropdown-lists li {
    line-height: 50px;
    text-align: left;
}

.hidden {
    display: none;
    width: 500px;
    max-height: 0;
}

.show {
    display: block;
    max-height: 350px;
    list-style: none;
}

.next-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(39, 99, 230);
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
}