* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
background-color: rgb(248, 207, 214);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px auto;
    padding: 30px;
    width: 30vw;
    height: 30vh;
    background-color: #fff;
    border: 1px solid  rgb(187, 184, 184);
    border-radius: 6px;
}

.head {
    text-align: center;
}

.head h2 {
    font-size: 20px;
    color: rgb(77, 76, 76);
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-toggle {
    margin: 30px;
    padding-left: 20px;
    width: 500px;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 6px;
    text-align: left;
    color: rgb(148, 146, 146);
    cursor: pointer;
    outline: none;
}

.dropdown-toggle.selected {
    color: #000;
}

.dropdown-lists {
    position: absolute;
    top: 255px;
    width: 500px;
    margin: 0;
    padding: 0;
    background-color: #fff;;
    line-height: 25px;
    z-index: 1;
    box-shadow: 0 3px 3px lightslategray;
}

.dropdown-lists li {
    text-align: left;
}

.hidden {
    display: none;
}

.show {
    display: block;
    max-height: 440px;
    list-style: none;
}

.dropdown-option {
    padding: 5px 30px;
    width: 500px;
    background: transparent;
    border: none;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-option:hover {
    background-color: rgb(238, 183, 177);
    border: 1px solid grey;
    border-radius: 5px;
}

.next-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(39, 99, 230);
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}